<div class="container-fluid">
    <div class="card">
        <div class="header">
            <table style="width: 100%;">
                <tr>
                    <td><h4 class="title">Favourite Stocks</h4></td>
                </tr>
            </table>
        </div>
        <div class="content">
            <table class="table table-striped" datatable="ng">
            <thead>
                <tr>
                    <th>Stock Code</th>
                    <th>Stock Name</th>
                    <th>Pointers</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in userInterests" ng-if="data.interested">
                    <td>{{data.ticker_details.Code}}</td>
                    <td>{{data.ticker_details.Name}}</td>
                    <td ng-init="pointersData = getPointersForDashboard(data.ticker_details.Code)">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="card red-tooltip" style="background: cornsilk;">
                                    <md-tooltip md-direction="bottom">
                                    GAP UP: {{pointersData.gapUp}}<br />
                                    TIME SPEND: {{pointersData.timeSpend}}<br />
                                    EARNING: {{pointersData.earning}}<br />
                                    HIGH: {{pointersData.high}}<br />
                                    FRESHNESS: {{pointersData.freshness}}<br />
                                    DIVIDEND: {{pointersData.dividend}}<br />
                                    TREND: {{pointersData.trend}}
                                    </md-tooltip>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <p>Entry</p>
                                                <div ng-if="pointersData.entry">{{pointersData.entry}}</div>
                                                <div ng-if="!pointersData.entry">NA</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <p>Target</p>
                                                <div ng-if="pointersData.target">{{pointersData.target}}</div>
                                                <div ng-if="!pointersData.target">NA</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <p>Stoploss</p>
                                                <div ng-if="pointersData.stopLoss">{{pointersData.stopLoss}}</div>
                                                <div ng-if="!pointersData.target">NA</div>
                                            </div>
                                            <div class="col-xs-3">
                                                <p>TotalPoints</p>
                                                <div ng-if="pointersData.totalPoints">{{pointersData.totalPoints}}</div>
                                                <div ng-if="!pointersData.target">NA</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
        <!-- 
                        <div>Entry: {{pointersData.entry}}</div>
                        <div>Stoploss: {{pointersData.stopLoss}}</div>, T: {{pointersData.target}}, TP: {{pointersData.totalPoints}}</div> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>