<div class="container-fluid">
    <div class="card">
        <div class="header">
            <h4 class="title" style="display: inline;">Favourite Stocks</h4>
            <i class="fa fa-refresh" aria-hidden="true" style="cursor: pointer;" ng-click="updatePointers()"></i>
            <div style="float: right;">
                Select Frequency:
                <select ng-model="dashboardFrequency" ng-change="updatePointers()" style="background: transparent; border: none;">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Quarterly</option>
                    <option>Yearly</option>
                </select>
            </div>
        </div>
        <div class="content">
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="reloading">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div ng-if="!reloading">
                <div layout="row" layout-sm="column" layout-align="space-around" ng-show="!renderTable">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <table class="table table-striped" datatable="ng" ng-show="renderTable">
                <thead>
                    <tr>
                        <th>Stock Code</th>
                        <th>Stock Name</th>
                        <!-- <th>CMP</th> -->
                        <th>Entry</th>
                        <th>Target</th>
                        <th>Stoploss</th>
                        <th>Total Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in userInterests" ng-if="data.interested">
                        <td>{{data.ticker_details.Code}}</td>
                        <td>{{data.ticker_details.Name}}</td>
                        <!-- <td ng-init="pointers = getPointersForDashboard(data.ticker_details.Code)">
                            <div ng-show="pointers.cmp">{{pointers.cmp}}</div>
                            <div ng-show="!pointers.cmp">NA</div>
                        </td> -->
                        <td ng-init="pointers = getPointersForDashboard(data.ticker_details.Code)">
                            <div ng-show="pointers.entry">{{pointers.entry}}</div>
                            <div ng-show="!pointers.entry">NA</div>
                        </td>
                        <td>
                            <div ng-show="pointers.target">{{pointers.target}}</div>
                            <div ng-show="!pointers.target">NA</div>
                        </td>
                        <td>
                            <div ng-show="pointers.stopLoss">{{pointers.stopLoss}}</div>
                            <div ng-show="!pointers.stopLoss">NA</div>
                        </td>
                        <td>
                            <md-tooltip md-direction="bottom">
                                GAP UP: {{pointers.gapUp}}<br />
                                TIME SPEND: {{pointers.timeSpend}}<br />
                                EARNING: {{pointers.earning}}<br />
                                HIGH: {{pointers.high}}<br />
                                FRESHNESS: {{pointers.freshness}}<br />
                                DIVIDEND: {{pointers.dividend}}<br />
                                TREND: {{pointers.trend}}
                            </md-tooltip>
                            <div ng-show="pointers.totalPoints">{{pointers.totalPoints}}</div>
                            <div ng-show="!pointers.totalPoints">NA</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>