<!-- <div class="content"> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6" style="float: left;">
            <div class="card">
                <input data-ng-model="startDate" type="text" date-picker="startDate" class="form-control" placeholder="Start Date: YYYY-MM-DD">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6" style="float: left;">
            <div class="card">
                <input data-ng-model="endDate" class="form-control" type="text" placeholder="End Date: YYYY-MM-DD" date-picker="endDate">
            </div>
        </div>
        <div class="col-lg-6 col-sm-6" style="float: right;">
            <div class="card" style="z-index: 2">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="scripCode" ng-change="dismissSearch=false;scripCode=scripCode.toUpperCase()">
                    <span class="input-group-addon">
                        <button type="submit" ng-click="getTicker()" ng-disabled="!scripCode">
                            <span class="fa fa-search"></span>
                    </button>
                    </span>
                </div>
                <div style="position: absolute;width: 100%;" ng-show="scripCode && !dismissSearch">
                    <table class="table table-striped table-bordered">
                        <tr ng-repeat="scrip in nseCodesArray.data | filter:scripCode" ng-click="setScrip(scrip.Code)">
                            <td>{{scrip.Code}}</td>
                            <td>{{scrip.Name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-warning text-center">
                                <i class="ti-stats-up"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Entry</p>
                                <div ng-if="pointers.entry != null">{{pointers.entry | number:2}}</div>
                                <div ng-if="pointers.entry == null">N/A</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="ti-reload"></i> Updated now
                                        </div>
                                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-success text-center">
                                <i class="ti-stats-down"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Target</p>
                                <div ng-if="pointers.target != null">{{pointers.target | number:2}}</div>
                                <div ng-if="pointers.target == null">N/A</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="ti-calendar"></i> Last day
                                        </div>
                                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-alert"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Stoploss</p>
                                <div ng-if="pointers.stopLoss != null">{{pointers.stopLoss | number:2}}</div>
                                <div ng-if="pointers.stopLoss == null">N/A</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="ti-timer"></i> In the last hour
                                        </div>
                                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-danger text-center">
                                <i class="ti-plus"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                <p>Total Points</p>
                                <div ng-if="pointers.stopLoss != null">{{pointers.totalPoints}}</div>
                                <div ng-if="pointers.stopLoss == null">N/A</div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="ti-timer"></i> In the last hour
                                        </div>
                                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <!-- <div class="col-xs-5">
                                            <div class="icon-big icon-warning text-center">
                                                <i class="ti-stats-up"></i>
                                            </div>
                                        </div> -->
                        <div class="col-xs-12" style="overflow-x: auto;">
                            <!-- <div class="number"> -->
                            <!-- <p>Pointers</p>
                                                <div ng-if="pointers.entry != null">{{pointers.entry | number:3}}</div>
                                                <div ng-if="pointers.entry == null">N/A</div> -->
                            <table class="table table-striped table-bordered" id="pointersTable">
                                <tr>
                                    <th>Gap up</th>
                                    <th>Time Spend</th>
                                    <th>Earning</th>
                                    <th>High</th>
                                    <th>Freshness</th>
                                    <th>Dividend</th>
                                    <th>Trend</th>
                                </tr>
                                <tr>
                                    <td>{{pointers.gapUp}}</td>
                                    <td>{{pointers.timeSpend}}</td>
                                    <td>{{pointers.earning}}</td>
                                    <td>{{pointers.high}}</td>
                                    <td>{{pointers.freshness}}</td>
                                    <td>{{pointers.dividend}}</td>
                                    <td>{{pointers.trend}}</td>
                                </tr>
                            </table>
                            <!-- </div> -->
                        </div>
                    </div>
                    <!-- <div class="footer">
                                        <hr />
                                        <div class="stats">
                                            <i class="ti-reload"></i> Updated now
                                        </div>
                                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Candlestick Chart</h4>
                    <!-- <p class="category">Historical Graph</p> -->
                </div>
                <div class="content">
                    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!chartLoaded">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <div id="chartContainer" style="width:100%;height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{scripCode}} History</h4>
                    <p class="category" style="display: inline;">Historical Price</p>
                    <div style="display: inline;">
                        <i class="fa fa-plus-square-o" aria-hidden="true" ng-show="isCollapsed" ng-click="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#HistoryTable"></i>
                        <i class="fa fa-minus-square-o" aria-hidden="true" ng-show="!isCollapsed" ng-click="isCollapsed=!isCollapsed" data-toggle="collapse" data-target="#HistoryTable"></i>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!tickerData">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
                <div class="content">
                    <div id="HistoryTable" class="collapse" style="overflow-x: auto;">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td> Date </td>
                                <td> Open </td>
                                <td> Low </td>
                                <td> High </td>
                                <td> Close </td>
                                <td> Nature </td>
                                <!-- <td> Color </td> -->
                            </tr>
                            <tr ng-repeat="dayData in tickerData">
                                <td>{{dayData.Date}}</td>
                                <td>{{dayData.Open}}</td>
                                <td>{{dayData.Low}}</td>
                                <td>{{dayData.High}}</td>
                                <td ng-if="dayData.color == 'red'" style="color: red;">{{dayData.Close}}</td>
                                <td ng-if="dayData.color == 'green'" style="color: green;">{{dayData.Close}}</td>
                                <td style="text-transform: uppercase;">{{dayData.nature}}</td>
                                <!-- <td ng-if="dayData.color == 'green'" style="background-color: green;text-transform: uppercase;">{{dayData.color}}</td> -->
                                <!-- <td ng-if="dayData.color == 'red'" style="background-color: red;text-transform: uppercase;">{{dayData.color}}</td> -->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Email Statistics</h4>
                                    <p class="category">Last Campaign Performance</p>
                                </div>
                                <div class="content">
                                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
                                    <div class="footer">
                                        <div class="chart-legend">
                                            <i class="fa fa-circle text-info"></i> Open
                                            <i class="fa fa-circle text-danger"></i> Bounce
                                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-timer"></i> Campaign sent 2 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">2015 Sales</h4>
                                    <p class="category">All products including Taxes</p>
                                </div>
                                <div class="content">
                                    <div id="chartActivity" class="ct-chart"></div>
                                    <div class="footer">
                                        <div class="chart-legend">
                                            <i class="fa fa-circle text-info"></i> Tesla Model S
                                            <i class="fa fa-circle text-warning"></i> BMW 5 Series
                                        </div>
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-check"></i> Data information certified
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
</div>
<!-- </div> -->
<!-- <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="http://www.creative-tim.com">
                                Creative Tim
                            </a>
                            </li>
                            <li>
                                <a href="http://blog.creative-tim.com">
                               Blog
                            </a>
                            </li>
                            <li>
                                <a href="http://www.creative-tim.com/license">
                                Licenses
                            </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright pull-right">
                        &copy;
                        <script>
                        document.write(new Date().getFullYear())
                        </script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                    </div>
                </div>
            </footer> -->
