<!DOCTYPE html>
<html ng-app="angularDatatableModule">
 
  <title>AngularJS Datatable Example</title>
   
     <!-- JQUERY -->
     <script src="vendor/jquery/dist/jquery.js"></script>     
     <script src="vendor/datatables/media/js/jquery.dataTables.min.js"></script>
     <link rel="stylesheet" href="vendor/datatables/media/css/jquery.dataTables.min.css">
  
     <!-- ANGULAR -->
     <script src="vendor/angular/angular.js"></script>
   
     <script src="src/angular-datatables.directive.js"></script>
     <script src="src/angular-datatables.instances.js"></script>
     <script src="src/angular-datatables.util.js"></script>
     <script src="src/angular-datatables.renderer.js"></script>
     <script src="src/angular-datatables.factory.js"></script>
     <script src="src/angular-datatables.options.js"></script>
     <script src="src/angular-datatables.js"></script>
 
     <!-- CUSTOM -->
     <script src="datatableController.js"></script>
 
 
 
    
    <table datatable="" class="row-border hover">
      <thead>
       <tr>
       <th>ID</th>
       <th>First name</th>
       <th>Last name</th>
       </tr>
      </thead>
      <tbody>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
       <tr>
         <td>1</td>
         <td>Jayesh</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>2</td>
         <td>Khyati</td>
         <td>Patel</td>
       </tr>
       <tr>
         <td>3</td>
         <td>Alex</td>
         <td>Sebastian</td>
       </tr>
      </tbody>
    </table>
   
 
</html> 