<div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#login">Login</a></li>
        <!-- <li><a data-toggle="tab" data-target="#register">Register</a></li> -->
    </ul>
    <div class="tab-content">
        <div id="login" class="tab-pane fade in active">
            <br />
            <div class="col-md-12">
                <form ng-submit="login()" class="form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="username" placeholder="username" required="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-model="password" placeholder="password" required="" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                            <span class="text-danger">{{ error }}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="register" class="tab-pane fade">
            <br />
            <div class="col-md-12">
                <form ng-submit="register()" class="form">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="reg_username" placeholder="username" required="true" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" ng-model="reg_password" placeholder="password" required="true" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" ng-model="reg_emailId" placeholder="Email Id" required="true" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Register</button>
                            <span>{{ reg_message }}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
