<style type="text/css">
* {
    box-sizing: border-box;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#left_pane,
#right_pane {
    top: 0;
    height: 100%;
    position: absolute;
    color: black;
    background: cornsilk;
}

#left_pane {
    width: 25%;
    padding-top: 10px;
    padding: 5px;
    /*left: 0;
    background: white;
    border-right: 2px solid black;*/
}

#right_pane {
    width: 75%;
    right: 0;
    /*background: white;*/
    padding-left: 5px;
}

#chartContainerDiv.fullscreen {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    z-index: 10;
}
</style>
<div id="container">
    <div id="left_pane">
        <!-- <div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="false" data-auto-logout-link="false"></div> -->
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);height: 100%;background: white;">
        <div class="input-group">
            <input type="text" class="form-control" ng-model="scripCode" ng-change="dismissSearch=false">
            <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="getTicker()" ng-disabled="!scripCode">Go</button>
        </span>
        </div>
        <div>
            <table ng-show="scripCode && !dismissSearch" class="table table-striped table-bordered">
                <tr ng-repeat="scrip in nseCodesArray.data | filter:scripCode" ng-click="setScrip(scrip.Code)">
                    <td>{{scrip.Code}}</td>
                    <td>{{scrip.Name}}</td>
                </tr>
            </table>
        </div>
        <h3 ng-show="errorMessage" style="color: red">{{errorMessage}}</h3>
        <br />
        <div class="col-xs-5">
            <input data-ng-model="startDate" type="text" date-picker="startDate" class="form-control" placeholder="Start Date: YYYY-MM-DD">
        </div>
        <div class="col-xs-5">
            <input data-ng-model="endDate" class="form-control" type="text" placeholder="End Date: YYYY-MM-DD" date-picker="endDate">
        </div>
        </div>
    </div>
    <div id="right_pane">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <!-- <a class="navbar-brand" href="#/">Stock Analysis</a> -->
                    <img src="/images/coollogo_com-24470365.png" style="width: 40%;height: 40%" />
                </div>
            </div>
        </div>
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: white;">
            <label ng-show="ticker">Recommendation
                <br />
            </label>
            <table ng-show="ticker" class="table table-striped table-bordered">
                <tr>
                    <td>Entry</td>
                    <td>{{pointers.entry}}</td>
                </tr>
                <tr>
                    <td>Target</td>
                    <td>{{pointers.target}}</td>
                </tr>
                <tr>
                    <td>Stoploss</td>
                    <td>{{pointers.stopLoss}}</td>
                </tr>
            </table>
        </div>
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: white;" id="chartContainerDiv">
            <div ng-show="ticker">
                <i ng-hide="expandedChart" class="fa fa-window-maximize" aria-hidden="true" style="cursor: pointer;" onclick="expandChartContainerDiv(this)" ng-click="expandedChart=true"></i>
                <i ng-show="expandedChart" class="fa fa-window-minimize" aria-hidden="true" style="cursor: pointer;" onclick="expandChartContainerDiv(this)" ng-click="expandedChart=false"></i>
                <div id="chartContainer" style="width:100%;height:300px;"></div>
                <br />
            </div>
        </div>
        <br />
        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background: white;">
            <label ng-show="ticker" data-toggle="collapse" data-target="#HistoryTable" ng-click="isCollapsed=!isCollapsed">History
                <i class="fa fa-plus-square-o" aria-hidden="true" ng-show="isCollapsed"></i>
                <i class="fa fa-minus-square-o" aria-hidden="true" ng-show="!isCollapsed"></i>
                <br />
            </label>
            <div ng-show="ticker" id="HistoryTable" class="collapse">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td> Date </td>
                        <td> Open </td>
                        <td> Low </td>
                        <td> High </td>
                        <td> Close </td>
                        <td> Nature </td>
                        <td> Color </td>
                    </tr>
                    <tr ng-repeat="dayData in tickerData">
                        <td>{{dayData.Date}}</td>
                        <td>{{dayData.Open}}</td>
                        <td>{{dayData.Low}}</td>
                        <td>{{dayData.High}}</td>
                        <td>{{dayData.Close}}</td>
                        <td style="text-transform: uppercase;">{{dayData.nature}}</td>
                        <td ng-if="dayData.color == 'green'" style="background-color: green;text-transform: uppercase;">{{dayData.color}}</td>
                        <td ng-if="dayData.color == 'red'" style="background-color: red;text-transform: uppercase;">{{dayData.color}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Stock Analysis</a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="fb-login-button" data-max-rows="1" data-size="icon" data-show-faces="false" data-auto-logout-link="false"></div>
    <div class="input-group">
        <input type="text" class="form-control" ng-model="scripCode" ng-change="dismissSearch=false">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="getTicker()" ng-disabled="!scripCode">Generate Ticker</button>
        </span>
    </div>
    <div>
        <table ng-show="scripCode && !dismissSearch" class="table table-striped table-bordered">
            <tr ng-repeat="scrip in nseCodesArray.data | filter:scripCode" ng-click="setScrip(scrip.Code)">
                <td>{{scrip.Code}}</td>
                <td>{{scrip.Name}}</td>
            </tr>
        </table>
    </div>
    <h3 ng-show="errorMessage" style="color: red">{{errorMessage}}</h3>
    <br />
    <div class="col-xs-3">
        <input data-ng-model="startDate" type="text" date-picker="startDate" class="form-control" placeholder="Start Date: YYYY-MM-DD">
    </div>
    <div class="col-xs-3">
        <input data-ng-model="endDate" class="form-control" type="text" placeholder="End Date: YYYY-MM-DD" date-picker="endDate">
    </div>
    <br />
    <br />
    <br />
    <label ng-show="ticker">Recommendation
        <br />
        <br />
    </label>
    <table ng-show="ticker" class="table table-striped table-bordered">
        <tr>
            <td>Entry</td>
            <td>{{pointers.entry}}</td>
        </tr>
        <tr>
            <td>Target</td>
            <td>{{pointers.target}}</td>
        </tr>
        <tr>
            <td>Stoploss</td>
            <td>{{pointers.stopLoss}}</td>
        </tr>
    </table>
    <br />
    <br />
    <div ng-show="ticker">
        <div id="chartContainer" style="width:100%;height:300px;"></div>
        <br />
    </div>
    <br />
    <label ng-show="ticker" data-toggle="collapse" data-target="#HistoryTable" ng-click="isCollapsed=!isCollapsed">History
        <i class="fa fa-plus-square-o" aria-hidden="true" ng-show="isCollapsed"></i>
        <i class="fa fa-minus-square-o" aria-hidden="true" ng-show="!isCollapsed"></i>
        <br />
        <br />
    </label>
    <div ng-show="ticker" id="HistoryTable" class="collapse">
        <table class="table table-striped table-bordered">
            <tr>
                <td> Date </td>
                <td> Open </td>
                <td> Low </td>
                <td> High </td>
                <td> Close </td>
                <td> Nature </td>
                <td> Color </td>
            </tr>
            <tr ng-repeat="dayData in tickerData">
                <td>{{dayData.Date}}</td>
                <td>{{dayData.Open}}</td>
                <td>{{dayData.Low}}</td>
                <td>{{dayData.High}}</td>
                <td>{{dayData.Close}}</td>
                <td style="text-transform: uppercase;">{{dayData.nature}}</td>
                <td ng-if="dayData.color == 'green'" style="background-color: green;text-transform: uppercase;">{{dayData.color}}</td>
                <td ng-if="dayData.color == 'red'" style="background-color: red;text-transform: uppercase;">{{dayData.color}}</td>
            </tr>
        </table>
    </div>
</div>
 -->
